RewriteEngine On
RewriteBase /

# If the request is not for a file that physically exists
RewriteCond %{REQUEST_FILENAME} !-f
# If the request is not for a directory that physically exists
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite all requests to index.html
RewriteRule ^(.*)$ index.html [L]

# Prevent directory listings
Options -Indexes

# Set default document
DirectoryIndex index.html

# Handle 404 errors
ErrorDocument 404 /404.html